<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="de.ahoehma.jdt.quickfix.QuickFixRemoveStatement"
            id="de.ahoehma.jdt.quickfix.quickFixRemoveStatement">
         <handledMarkerTypes>
            <markerType
                  id="org.eclipse.jdt.core.problem">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>

</plugin>
